In [1]:
#1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

break=5    #will lead to a syntax error as we have a keyword called break in python.

SyntaxError: invalid syntax (<ipython-input-1-fb607fdcc521>, line 3)

In [2]:
#2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables
b_year=1999
c_year=2023
age=c_year-b_year
print(age)

24

In [6]:
#3. Store your first, middle and last name in three different variables and then print your full name using these variables
first_name = "Poojith venkat"
middle_name = "reddy"
last_name = "NGR"
full_name=last_name+" "+first_name+" "+middle_name
print(full_name)

NGR Poojith venkat reddy

In [9]:
#4. Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"


#ANS:-

#1record,record-one, record^one, continue

In [10]:
### Exercise: Numbers in python
# 1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total
# area using python and print it.
# 2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
# and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
# 3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
# is its length. If tiles cost 500 rs per square feet, how much will be the total
# cost to replace all tiles. Calculate and print the cost using python
# (Hint: Use power operator ** to find area of a square)
# 4. Print binary representation of number 17

In [11]:
#1.
ft_length=92.0
ft_width=48.8
total_area_of_football_field=ft_length*ft_width
print(total_area_of_football_field)

4489.599999999999

In [13]:
#2.
Price_of_packet=1.49
number_of_packets=9
total_price=number_of_packets*Price_of_packet
remaining_amount=20-total_price
print("Amount to be returned "+str(remaining_amount))

Amount to be returned 6.59

In [14]:
#3.
area=5.5*5.5
cost=area*500
print(cost)

15125.0

In [16]:
#4.
num=17
print(bin(num))
print("Binary representation of 17:-",format(num,"b"))

0b10001
Binary representation of 17:- 10001

In [17]:
### Exercise: String in Python

# 1. Create 3 variables to store street, city and country, now create address variable to
# store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
# Now Print the address in such a way that the street, city and country prints in a separate line
# 2. Create a variable to store the string "Earth revolves around the sun"
#     1. Print "revolves" using slice operator
#     2. Print "sun" using negative index
# 3. Create two variables to store how many fruits and vegetables you eat in a day.
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
# wrong statement, the correct statement is 'maine 10 samosa khaye'.
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line.

In [18]:
#1.
street = "31-245,kothaindlu"
city = "Punganur"
country = "India"
address = street+city+country
f_address = f'{street} , {city} , {country}'
print(f'{street} \n , {city}\n , {country}')

31-245,kothaindlu
 , Punganur
 , India

In [24]:
#2.
statement = "Earth revolves around the sun"
#1. Print "revolves" using slice operator
print(statement[6:14])
#     2. Print "sun" using negative index
print(statement.split()[-1])

revolves
sun

In [25]:
#3.
num_of_fruits = 5
num_of_vegetables = 15
print(f"I eat {num_of_vegetables} veggies and {num_of_fruits} fruits daily")

I eat 15 veggies and 5 fruits daily

In [26]:
#4.
s='maine 200 banana khaye'
print(s.replace('200 banana','10 samosa'))
#original solution:- s=s.replace('banana','samosa').replace('200','10')

maine 10 samosa khaye

In [27]:
# ## Exercise: Python Lists
# 1. Let us say your expense for every month are listed below,
# 	1. January -  2200
#  	2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190

# Create a list to store these monthly expenses and using that find out,

#     1. In Feb, how many dollars you spent extra compare to January?
#     2. Find out your total expense in first quarter (first three months) of the year.
#     3. Find out if you spent exactly 2000 dollars in any month
#     4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
#     5. You returned an item that you bought in a month of April and
#     got a refund of 200$. Make a correction to your monthly expense list
#     based on this

# 2. You have a list of your favourite marvel super heros.
# ```
# heros=['spider man','thor','hulk','iron man','captain america']
# ```

# Using this find out,

#     1. Length of the list
#     2. Add 'black panther' at the end of this list
#     3. You realize that you need to add 'black panther' after 'hulk',
#        so remove it from the list first and then add it after 'hulk'
#     4. Now you don't like thor and hulk because they get angry easily :)
#        So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#        Do that with one line of code.
#     5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [44]:
#1.
January = 2200
February = 2350
March = 2600
April = 2130
May = 2190
June=1980
expenses = [2200,2350,2600,2130,2190]
print(f'Dollars spent extra in feb than in jan {expenses[1]-expenses[0]}')
print(f'Total expenses in first quarter :{sum(expenses[:3])}')
print("yes" if 2000 in expenses else "no")
expenses.append(June)
expenses[-3]=expenses[-3]-200

Dollars spent extra in feb than in jan 150
Total expenses in first quarter :7150
no

In [8]:
#2.
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append("black panther")
heros.remove("black panther")

heros.insert(3,"black panther")

heros.remove("hulk")
heros

heros.remove("thor")
heros.insert(1,"doctor strange")
heros.sort()
print(heros)

5
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [35]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
# ## Exercise: Python If Condition
# 1. Using following list of cities per country,
#     ```
#     india = ["mumbai", "banglore", "chennai", "delhi"]
#     pakistan = ["lahore","karachi","islamabad"]
#     bangladesh = ["dhaka", "khulna", "rangpur"]
#     ```
#     1. Write a program that asks user to enter a city name and it should tell which country the city belongs to
#     2. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"
# 2. Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
#     1. Ask user to enter his fasting sugar level
#     2. If it is below 80 to 100 range then print that sugar is low
#     3. If it is above 100 then print that it is high otherwise print that it is normal

In [16]:
#1
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city =input("enter the city name:")
if city in india:
    print(f'this city {city} belongs to india')
elif city in pakisthan:
    print(f'this city {city} belongs to pakisthan')
elif city in bangladesh:
    print(f'this city {city} belongs to bangladesh')
else:
    print('the city u mentioned does not belong to india or bangladesh or pakisthan.')
    
cities =(input("Enter the cities:")).split()


if cities[0] in india:
    if cities[1] in india:
        print("Both belong to same country")
    else:
        print("Both does not belong to same country")
elif cities[0] in pakistan:
    if cities[1] in pakistan:
        print("Both belong to same country")
    else:
        print("Both does not belong to same country")
elif cities[0] in bangladesh:
    if cities[1] in bangladesh:
        print("Both belong to same country")
    else:
        print("Both does not belong to same country")
else:
    print("the cities you mentioned does not belong to india,bangladesh,pakisthan")

enter the city name:mumbai
this city mumbai belongs to india
Enter the cities:mumbai islamabad
Both does not belong to same country

In [17]:
#2

sugar_fast_level = int(input("Please enter sugar fasting level:"))
if sugar_fast_level >= 80 and sugar_fast_level <=100 :
    print("you are in range")
elif sugar_fast_level <80 :
    print("low fast_sugar_levels")
else:
    print("higher sugar levels")

Please enter sugar fasting level:99
you are in range

In [19]:
# ## Exercise: Python for loop
# 1. After flipping a coin 10 times you got this result,
# ```
# result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
# ```
# Using for loop figure out how many times you got heads

# 2. Print square of all numbers between 1 to 10 except even numbers
# 3. Your monthly expense list (from Jan to May) looks like this,
# ```
# expense_list = [2340, 2500, 2100, 3100, 2980]
# ```
# Write a program that asks you to enter an expense amount and program
# should tell you in which month that expense occurred. If expense is not
# found then it should print that as well.

# 4. Lets say you are running a 5 km race. Write a program that,
#    1. Upon completing each 1 km asks you "are you tired?"
#    2. If you reply "yes" then it should break and print "you didn't finish the race"
#    3. If you reply "no" then it should continue and ask "are you tired" on every km
#    4. If you finish all 5 km then it should print congratulations message

# 5. Write a program that prints following shape
# ```
# *
# **
# ***
# ****
# *****
# ```

In [20]:
#1
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
#Using for loop figure out how many times you got heads
cou = 0
for i in result:
    if i == "heads":
        cou+=1
print(f'the number of times the coin flipped is {cou}')

the number of times the coin flipped is 4

In [24]:
#2
# Print square of all numbers between 1 to 10 except even numbers
for i in range(1,11,2):
    print(pow(i,2))

1
9
25
49
81

In [29]:
#3
expense_list = [2340, 2500, 2100, 3100, 2980]
# Write a program that asks you to enter an expense amount and program
# should tell you in which month that expense occurred. If expense is not
# found then it should print that as well.

month_list ={1:"jan",2:"feb",3:"march",4:"april",5:"may"}
exp_amount = int(input("enter the expense amount:"))
if exp_amount in expense_list:
    print(f'month of the expenses given is {month_list[expense_list.index(exp_amount)]}')
else:
    print("Expenses specified does not match any month")

enter the expense amount:2980
month of the expenses given is april

In [30]:
# 4. Lets say you are running a 5 km race. Write a program that,
#    1. Upon completing each 1 km asks you "are you tired?"
#    2. If you reply "yes" then it should break and print "you didn't finish the race"
#    3. If you reply "no" then it should continue and ask "are you tired" on

In [32]:
for i in range(1,6):
    print(f"completed {i} km")
    if i==5:
        print("completed race")
        break
    res=input("are you tired?")
    if res.lower() =="yes" or res.lower()=="y":
        print("you didn't finish the race.")

completed 1 km
are you tired?no
completed 2 km
are you tired?no
completed 3 km
are you tired?no
completed 4 km
are you tired?no
completed 5 km
completed race

In [33]:
# 5. Write a program that prints following shape
# ```
# *
# **
# ***
# ****
# *****
# ```

for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [34]:
# # Exercise: Functions in python
# 1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
# ```
# area = (1/2)*base*height
# ```

# 2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,
# ```
# rectangle area=length*width
# ```
# If no shape is supplied then it should take triangle as a default shape

# 3. Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,
# ```
# *
# **
# ***
# ```
# if input is 4 then it should print
# ```
# *
# **
# ***
# ****
# ```
# Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)

In [37]:
#1,2
def area_of_triangle(base,height,shape=None):
    if shape == "rectangle":
        return base*height
    elif shape == "triangle":
        return (1/2)*base*height
    else:
        print("shape not rectangle nor triangle")
    return None
    
print(area_of_triangle(5,7))

17.5

In [45]:
#3
def print_pattern(integer=3):
    for i in range(1,integer+1):
        print("*"*i) 
    return None
print_pattern(5)

*
**
***
****
*****